body {
    margin-left: 20px;
    background-color: green;
    color: white;
    font-size: 30px;
}

img {
    height: 181px;
    width: 125px;
    margin: 5px;
    box-shadow: 3px 3px 3px black;
}

button {
    margin: 10px;
}

#dealer-row {
    min-height: 191px;
    margin-bottom: 40px;
}

#player-row {
    min-height: 191px;
}